/*///////////////////////////////////////// css reset /////////////////////////////////////////*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

body {
	line-height: 1.5em;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

/* removes fuzzy blue outline for :focus in webkit */
*:focus {
	outline: none;
}

/*///////////////////////////////////////////////// global styles ///////////////////////////////////////////////*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	width: 99.99999%;
	margin: 0 auto;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	border-top: 2px solid #222;
	color: #222;
	background: #efefef url("http://assets.tumblr.com/images/x.gif"); 
}

a:link,
a:visited {
	color: #222;
	text-decoration: underline;
	-webkit-transition: all .14s ease-in-out;
	-moz-transition: all .14s ease-in-out;
	-o-transition: all .14s ease-in-out;
	transition: all .14s ease-in-out; 
}

a:hover,
a:active {
	color: #39a1c5;
}

.header a:link,
.header a:visited {
	color: #222;
	text-decoration: none;
}

.header a:hover,
.header a:active {
	color: #39a1c5;
}

p {
	margin: 0;
}

h1 {
	font-size: 230%;
	line-height: 1em;
	font-weight: bold;
}

h2 {
	margin: 1.2em 0 .2em 0;
	font-size: 180%;
	line-height: 1em;
}


h3 {
	margin: 1.2em 0 .2em 0;
	font-size: 150%;
	line-height: 1em;
}

h4 {
	margin: 1.2em 0 .2em 0;
	font-size: 120%;
	line-height: 1em;
}

blockquote {
	margin: 1.5em 3em;
	padding:  0 1.5em;
	border-left: 2px solid rgba(0,0,0,.17);
}

.header {
	padding-top: 24px;
}

.header img {
	float: left;
	padding-right: 32px;
}

.header div {
	float: left;
	padding-bottom: 30px;
}

.header p {
	margin: .75em 0 0 0;
	font-size: 1.125em;
}

.tagged-title {
	margin-bottom: 1.5em;
	text-transform: capitalize;
	clear: left;
	font-size: 1.75em;
}

.clearfix {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.post:first-child {
	margin: 0;
}

.post {
	padding: 30px 0;
	border-top: 1px solid rgba(0,0,0,.1);
	clear: both;
}

.post-data {
	font-size: 1.875em;
	line-height: 1.5em;
}

.post-data li {
	display: inline;
	font-weight: bold;
}

.post-data li .info {
	float: left;
}

.post-data a:link,
.post-data a:visited {
	text-decoration: none;
}

.icon {
	background-repeat: no-repeat;
	background-size: 24px 24px;
	height: 24px;
	width: 24px;
	margin-right: 8px;
	float: left;
	position: relative;
	top: -2px;
}

.post-content img,
.video-wrapper,
.album {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.post-content .caption {
	font-size: 1.125em;
	margin: .5em 0 0 0;
}

.read_more_container {
	margin-bottom: 0;
}

.tags {
	clear: both;
}

.tags:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.tags li:first-child:before {
	content: "/\00a0";
	color: rgba(0,0,0,.3);
}

.tags li:before {
	content: "\00a0";
	color: rgba(0,0,0,.3);
}

.tags li:after {
	content: "\00a0/";
	color: rgba(0,0,0,.3);
}

.tags li {
	float: left;
	font-size: .875em;
}

#tmblr #nav {
	border-top: rgba(0,0,0,.1) solid 1px;
	margin: 0 0 5em 0;
	width: 100%;
	position: relative;
	font-size: .875em;
	line-height: 1.25em;
}

#tmblr .older {
	position: absolute;
	top: 16px;
	left: 0;
}

#tmblr .older:before {
	content: "\2190\A0";
}

#tmblr #nav .counter {
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
}

.counter p {
	position: relative;
	left: -50%;
	margin: 0;
}

#tmblr .newer {
	position: absolute;
	top: 16px;
	right: 0;
}

#tmblr .newer:after {
	content: "\A0\2192";
}

.notes {
	font-size: .875em;
}

.notes li {
	padding: .25em;
}

.notes .note a {
	border-bottom: none;
	margin-right: 2px;
}

.notes .note a img {
	vertical-align: middle;
}

.note .action a {
	border-bottom: 1px solid rgba(0,0,0,.17);
}

.note .action a:hover {
	color: #000;
}

#footer {
	font-size: .75em;
	line-height: 1.5em;
	padding: 48px 0;
}

/* text post */

.text .icon {
	background-image: url("http://assets.tumblr.com/images/x.gif"); 
}

.text .tags {
	padding-top: .125em;
}

.text p {
	margin: 0 0 1.2em 0;
	font-size: 110%;
}

/* photo post */

.photo .icon {
	background-image: url("http://assets.tumblr.com/images/x.gif"); 
}

.photo .post-content .caption p {
	line-height: 1.5;
}

.content-img-wrapper {
	display: block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

/* photoset post */

.photoset .icon {
	background-image: url("http://assets.tumblr.com/images/x.gif"); 
}

div[id^="photoset"] {
	display: none;
}

.photoset .indv-caption {
	font-size: .875em;
	line-height: 2.5em;
	margin: 0 0 1px 0;
	font-style: italic;
}

/* video post */

.video .icon {
	background-image: url("http://assets.tumblr.com/images/x.gif"); 
}

.video .post-content .caption p {
	line-height: 1.5;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video-wrapper iframe,  
.video-wrapper object,  
.video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* audio post */

.audio .icon {
	background-image: url("http://assets.tumblr.com/images/x.gif"); 
}

.album-details h1 {
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0,0,0,.25);
	margin-bottom: 4px;
}

.album-details li {
	display: inline;
	font-size: .875em;
}

.album {
	margin-top: 24px;
	background: transparent;
}

.album img {
	-webkit-box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 8px -2px rgba(0, 0, 0, 0.1);
	border-top: 1px solid rgba(0,0,0,.05);
	border-right: 1px solid rgba(0,0,0,.05);
	border-left: 1px solid rgba(0,0,0,.05);
}

.audio_player {
	padding: 12px 0 0 4px;
	background: #e4e4e4;
}

.audio .caption {
	margin-top: 24px;
}

/* chat post */

.chat .icon {
	background-image: url("http://assets.tumblr.com/images/x.gif"); 
}

.chat h1 {
	margin: 8px 0;
}

.chat .post-content ul {
	margin: 1em 0 2em 0;
	border-top: 2px dotted rgba(0,0,0,.07);
}

.chat .label {
	font-weight: bold;
}

.chat .post-content li {
	padding: 16px;
	border-bottom: 2px dotted rgba(0,0,0,.07);
}

.chat .post-content li.odd {
	padding-left: 16px;
}

.chat .post-content li.even {
	padding-left: 32px;
}

/* quote post */

.quote h1 {
	line-height: 1.1;
}

.quote .icon {
	background-image: url("http://assets.tumblr.com/images/x.gif"); 
}

.quote .source:before {
	content: "\2014\A0";
}

.quote .post-content .source p {
	line-height: 1.5;
}

.quote .source {
	margin: 1.125em 0 1.5em 0;
	font-size: 1.125em;
}

/* link post */

.link .icon {
	background-image: url("http://assets.tumblr.com/images/x.gif"); 
}

.link h1 a:link,
.link h1 a:visited {
	color: #222;
}

.link h1 a:hover,
.link h1 a:active {
	color: #39a1c5;
}

/* Like and Reblog buttons */

.like_and_reblog_buttons {
	border: 1px solid #e8e8e8;
	border-radius: 3px;
	list-style: none;
}

.like_and_reblog_buttons li {
	float: left;
	margin: 0;
	padding: 7px 15px;
	height: 20px;
}

.like_and_reblog_buttons li:first-child {
	border-right: 1px solid #e8e8e8;
}

/*/////////////////////////////////////////  widescreen  /////////////////////////////////////////*/

@media (min-width:641px) {

#tmblr {
	max-width: 1440px;
}

.container {
	padding: 48px 80px;
}

.album {
	width: 56%;
	margin-left: 22%;
	margin-right: 22%;
	overflow: hidden;
}

.tags li {
	margin-top: 4px;
}

.spotify-500 {
	display: block;
	width: 100%;
}

.spotify-400 {
	display: none;
}

.spotify-250 {
	display: none;
}

iframe[src*="spotify"] {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

} /*widescreen close*/

@media (max-width:720px) {

.album {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
}

.spotify-500 {
	display: none;
}

.spotify-400 {
	display: block;
	width: 100%;
}

.spotify-250 {
	display: none;
}

}

/*/////////////////////////////////////////  mobile  /////////////////////////////////////////*/

@media (max-width: 640px) {

body {
	font-size: 90%;
}

.container {
	padding: 48px 24px;
}

.post-data,
.post-content,
.tags,
.notes {
	width: 100%;
}

blockquote {
	margin: 1.5em .75em;
	padding:  0 1.5em;
	border-left: 1px solid rgba(0,0,0,.5);
}

.album {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	overflow: hidden;
}

.spotify-500 {
	display: none;
}

.spotify-400 {
	display: none;
}

.spotify-250 {
	display: block;
	width: 100%;
}

iframe[src*="spotify"] {
	display: block;
	min-width: 100%;
	margin: 0 auto;	
}

} /*mobile close*/
